# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio workspace settings
.vs/
.vscode/

# Rider IDE
.idea/

# ASP.NET
*.log
*.db
*.db-shm
*.db-wal

# Backup & temp files
*.tmp
*.bak
*.swp
*.ncb
*.sdf
*.scc
*~ 

# NuGet Packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio for Mac
.vscode/
*.pidb
*.userprefs

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# DotCover
*.dotCover

# Coverage Results
TestResults/
*.coverage
*.coveragexml

# Logs
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Crash Reports
*.dmp

# Git directories
.git/
.gitignore
